---
BasedOnStyle: Google
IncludeCategories:
  - Regex:           '^<c[a-z].*>'
    Priority:        2

  - Regex:           '^<[a-zA-Z0-9_]+>$'
    Priority:        3

  - Regex:           '^<.*>'
    Priority:        4

  - Regex:           '^\".*\"$'
    Priority:        5

SortIncludes:    true
